<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud Vanilla</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <section class="data__container">
    <div class="data__btns">
      <a href="../index.html" class="data__insert-btn">Insertar Usuario</a>
      <form class="data__search">
        <input class="data__search-input" type="text" placeholder="Search">
        <button type="submit" class="data__search-btn">Buscar</button>
      </form>
    </div>
    <section class="data__table-container">
      <table class="data__table">
        <thead class="data__thead">
          <tr class="data__tr">
            <th class="data__th">ID</th>
            <th class="data__th">Nombre</th>
            <th class="data__th">Apellido</th>
            <th class="data__th">Email</th>
            <th class="data__th">Contraseña</th>
            <th class="data__th">Permisos</th>
          </tr>
        </thead>
        <tbody>
          <tr class="data__tr">
            <td class="data__td">01</td>
            <td class="data__td">Julio</td>
            <td class="data__td">Cundumi Estupiñan</td>
            <td class="data__td">julio.ce@gmail.com</td>
            <td class="data__td">Julil.21rf</td>
            <td class="data__td">
              <a class="data__edit-btn" href="#">Editar</a>
              <a class="data__delete-btn" href="#">Eliminar</a>
            </td>
          </tr>
          <tr class="data__tr">
            <td class="data__td">02</td>
            <td class="data__td">Marvin</td>
            <td class="data__td">Cundumi Estupiñan</td>
            <td class="data__td">marvin.ce@gmail.com</td>
            <td class="data__td">mar.21rf</td>
            <td class="data__td">
              <a class="data__edit-btn" href="#">Editar</a>
              <a class="data__delete-btn" href="#">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</body>

</html>