<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud Vanilla</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <section class="data__container">
    <div class="data__btns">
      <a href="../index.html" class="data__insert-btn">Insertar Usuario</a>
      <form class="data__search">
        <input class="data__search-input" type="text" placeholder="Search">
        <button type="submit" class="data__search-btn">Buscar</button>
      </form>
    </div>
    <section class="data__table-container">
      <table class="data__table">
        <thead class="data__thead">
          <tr class="data__tr">
            <th class="data__th">ID</th>
            <th class="data__th">Nombre</th>
            <th class="data__th">Apellido</th>
            <th class="data__th">Email</th>
            <th class="data__th">Contraseña</th>
            <th class="data__th">Permisos</th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    </section>
  </section>

  <script src="../js/data.js"></script>
</body>

</html>