<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crud Vanilla</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <section class="update__container">
    <a href="./data.html" class="update__link">
      Volver
    </a>
    
    <form action="#" class="update__form">
      <h1 class="update__title">Actualizar usuario</h1>

      <div class="update__inputs">
        <div class="update__firstname">
          <input class="update__input" required type="text" id="firstname" placeholder="Nombre">
        </div>
        <div class="update__lastname">
          <input class="update__input" required type="text" id="lastname" placeholder="Apellidos">
        </div>
        <div class="update__email">
          <input class="update__input" required type="email" id="email" placeholder="Email">
        </div>
        <div class="update__password">
          <input class="update__input" required type="text" id="pass" placeholder="Contraseña">
        </div>
      </div>

      <div class="update__save">
        <button type="submit" class="update__save-btn">Actualizar</button>
      </div>
    </form>

  </section>

  <script src="../js/update.js"></script>
</body>
</html>